DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/adega_pro?schema=public"
NEXTAUTH_SECRET="gere-um-secret-aqui-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Em produção (Vercel):
# NEXTAUTH_URL="https://seu-app.vercel.app"
