DATABASE_URL="postgresql://postgres.sarjdaamedcjunysaijg:57756835875@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.sarjdaamedcjunysaijg:57756835875@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"
NEXTAUTH_SECRET="adegapro2024secretkey123456789"
NEXTAUTH_URL="http://localhost:3000"